.apre-sobremim {
    background-color: #d9eded;
    text-align: center;
    
}

.apre-sobremim h3 { 
    font-size: 35px;
    padding: 41px;
    font-weight: bolder;
}

.apre-sobremim p {
    padding: 2px 22% 40px 22%;
    line-height: 35px;
    margin-bottom: 40px;
}

.apre-sobremim hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (max-width: 1157px) {
    .apre-sobremim p {
        padding: 1px 12% 41px 12%;
        line-height: 25px;
    }
};


